---
import { Image } from "@astrojs/image/components";
---

<section class="section key-feature relative">
  <Image
    class="absolute left-0 top-0 -z-[1] -translate-y-1/2"
    src="/images/feature-shape.png"
    height={126}
    width={63}
    alt=""
  />
  <div class="container">
    <div class="row justify-between text-center lg:text-start">
      <div class="lg:col-6">
        <h2>About IANUS Project</h2>
      </div>
      <div class="mt-6 lg:col-6 lg:mt-0">
        <p class="pb-2">The IANUS project strengthens warranted trust in science, research and innovation at a systemic level by encouraging participation in research as a co-creative and inclusive process, sensitive to societal values, concerns and needs. Value-driven research means that researchers are engaged and sensitive to societal needs and values, as well as dedicated to helping society deal with urgent global challenges.</p>
        <a class="btn btn-white mt-6" href="https://trustinscience.eu/about/" target="_blank">Find out more...</a>
      </div>
    </div>
  </div>
</section>
