---
import { Image } from "@astrojs/image/components";
import { TbTargetArrow } from "react-icons/tb";
---

<section class="section services">
  <div class="container">
    <div class="gx-5 row mt-12 items-center lg:mt-0">
      <div class="lg:col-6">
        <div class="relative">
          <Image
            class="w-fit object-contain"
            alt="service"
            width={400}
            height={400}
            src="/images/cshub_graphics.png"
          />
        </div>
      </div>
      <div class="mt-6 lg:col-6 lg:mt-0">
        <div class="">
          <h2 class="lg:text-4xl">AUTH Citizen Science Hub</h2>
          <h5 class="mt-4 text-gray-500">Vision and Goals</h5>
          <p class="mt-2">The AUTh CS Hub has been established to bring society and science together and to encourage all citizens to participate in the co-creation and co-production of new knowledge.</p>
          <div class="key-feature-grid mt-10 grid gap-7 md:grid-cols-2">
            <div class="flex flex-col justify-between rounded-lg bg-white p-5 shadow-lg">
              <div>
                <h3 class="h4 text-xl lg:text-2xl"><TbTargetArrow /></h3>
                <p>Conducting primary research in the field of CS</p>
              </div>
            </div>
            <div class="flex flex-col justify-between rounded-lg bg-white p-5 shadow-lg">
              <div>
                <h3 class="h4 text-xl lg:text-2xl"><TbTargetArrow /></h3>
                <p>Implementing educational and training programs</p>
              </div>
            </div>
            <div class="flex flex-col justify-between rounded-lg bg-white p-5 shadow-lg">
              <div>
                <h3 class="h4 text-xl lg:text-2xl"><TbTargetArrow /></h3>
                <p>Organizing events & presentations to promote the activities of the Hub</p>
              </div>
            </div>
            <div class="flex flex-col justify-between rounded-lg bg-white p-5 shadow-lg">
              <div>
                <h3 class="h4 text-xl lg:text-2xl"><TbTargetArrow /></h3>
                <p>Participating in national, European and global research and innovation projects</p>
              </div>
            </div>
          </div>
        </div>
        <a class="btn btn-white mt-6" href="https://cshub.auth.gr/en/" target="_blank">Find out more...</a>
      </div>
    </div>
  </div>
</section>
