---
import PageHeader from "@components/PageHeader.astro";
import Shape from "@components/Shape.astro";
import Base from "@layouts/Base.astro";
import SurveyForm from "@layouts/function-components/SurveyForm.jsx";
import StepperWithContent from "@layouts/function-components/StepperWithContent.jsx";
const page_data = {
"title":"Survey",
"page_title":"Survey"
};
---

<Base
  title="Survey"
  meta_title="ddsds"
  description="dsdsd"
  image=""
>
  <Shape />
  <section class="page-hero py-16">
    <div class="container">
      <div class="page-hero-content mx-auto max-w-[768px] text-center">
        <PageHeader page_data={page_data} />
      </div>
      <form name="survey" data-netlify = "true" netlify-honeypot = "bot-field" hidden>
        <input id="name" type="text" name="name" />
        <input id="email" type="email" name="email" />
        <input id="info" type="text" name="info" />
        <input id="feedback" type="text" name="feedback" />
      </form>
      <!-- <StepperWithContent client:load /> -->
      <SurveyForm client:load />
    </div>
  </section>
</Base>
